footer#contacts.footer
	.container
		.columns
			.footer__left
				a(href="/").footer__logo.footer__link
					include ../assets/images/footer-logo-icon.svg
				.footer__contacts
					a(href="!#").footer__contact.footer__link 123456, Санкт-Петербург, Невский пр-кт 127
					a(href="tel:88123445665").footer__contact.footer__link +7 (812) 344-56-65
					a(href="mailto:sales@log.ru" target="_blank").footer__contact.footer__link sales@log.ru
					a(href="tel:88123445665").footer__contact.footer__link +7 (812) 344-56-65

			.footer__right
				a(href="https://d-e-n.ru/" target="_blank" rel="nofollow").footer__copyright.footer__link Разработано - D-E-N.ru


