main.main
	section.first
		.first__wrapper
			.first__inner
				h1 Грузовые перевозки
				p Перевозка крупногабаритных грузов по России и Европе. Полное экспедирование, страхование, упаковка и хранение грузов
	section.offer
		.container

	section.services
		.container
			.main__title
				h2 Услуги
			.services__block
				a(href="#").services__item
					.services__icon
						include ../assets/images/services-icon.svg
					.services__title
						p Авиаперевозки 1
				a(href="#").services__item
					.services__icon
						include ../assets/images/services-icon.svg
					.services__title
						p Авиаперевозки 2
				a(href="#").services__item
					.services__icon
						include ../assets/images/services-icon.svg
					.services__title
						p Авиаперевозки 3
				a(href="#").services__item
					.services__icon
						include ../assets/images/services-icon.svg
					.services__title
						p Авиаперевозки 4
				a(href="#").services__item
					.services__icon
						include ../assets/images/services-icon.svg
					.services__title
						p Авиаперевозки 5
				a(href="#").services__item
					.services__icon
						include ../assets/images/services-icon.svg
					.services__title
						p Авиаперевозки 6
				a(href="#").services__item
					.services__icon
						include ../assets/images/services-icon.svg
					.services__title
						p Авиаперевозки 7
				a(href="#").services__item
					.services__icon
						include ../assets/images/services-icon.svg
					.services__title
						p Авиаперевозки 8

	section.about
		.container
			.about__inner
				.about__left
					.main__title
						h2 О компании
					.main__description
						p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
				.about__right
					.about__grid
						.about__item
							.about__text-block
								.about__number 48
								.about__desc офисов
								.about__small в Европе и СНГ
						.about__item
							.about__text-block
								.about__number 361
								.about__desc грузовиков
								.about__small Volvo, Scania
						.about__item
							img(src=require("../assets/images/about.jpg"))
						.about__item
							img(src=require("../assets/images/about.jpg"))
						.about__item
							.about__text-block
								.about__number 1500
								.about__desc сотрудников
								.about__small профессионалов

	section.map
		div(style='position:relative;overflow:hidden;')
			a(href='https://yandex.ru/maps/org/baba_yaga/32779590942/?utm_medium=mapframe&utm_source=maps', style='color:#eee;font-size:12px;position:absolute;top:0px;') Баба-яга
			a(href='https://yandex.ru/maps/51/samara/category/decorative_object_board_of_honor/202926257807/?utm_medium=mapframe&utm_source=maps', style='color:#eee;font-size:12px;position:absolute;top:14px;') Декоративный объект, доска почёта в Самаре
			iframe(src='https://yandex.ru/map-widget/v1/-/CCUyJHrs3D', width='100%', height='450', frameborder='0', allowfullscreen='true', style='position:relative;')



