main.main
	section.first
		.first__wrapper
			.first__inner
				h1 Грузовые перевозки
				p Перевозка крупногабаритных грузов по России и Европе. Полное экспедирование, страхование, упаковка и хранение грузов
	section.offer
		.container
	section.services
		.container
			.main__title
				h2 Услуги
			.services__block
				.services__item
					.services__icon
						include ../assets/images/services-icon.svg
					.services__title
						p Авиаперевозки 1
				.services__item
					.services__icon
						include ../assets/images/services-icon.svg
					.services__title
						p Авиаперевозки 2
				.services__item
					.services__icon
						include ../assets/images/services-icon.svg
					.services__title
						p Авиаперевозки 3
				.services__item
					.services__icon
						include ../assets/images/services-icon.svg
					.services__title
						p Авиаперевозки 4
				.services__item
					.services__icon
						include ../assets/images/services-icon.svg
					.services__title
						p Авиаперевозки 5
				.services__item
					.services__icon
						include ../assets/images/services-icon.svg
					.services__title
						p Авиаперевозки 6
				.services__item
					.services__icon
						include ../assets/images/services-icon.svg
					.services__title
						p Авиаперевозки 7
				.services__item
					.services__icon
						include ../assets/images/services-icon.svg
					.services__title
						p Авиаперевозки 8
	section.about
		.container
	section.map



