$dark = #2F343A;
$gold = #C8A35F;

html, body
	margin 0
	padding 0
	box-sizing border-box
	height 100%
	font-size 10px

body
	font-family Roboto, sans-serif

ul
	padding-left 0

li
	list-style none

.container
	width 100%
	min-width 1160px
	padding 0 25px
	margin 0 auto
