.main
	background-color $dark

.first
	display flex
	align-items center
	height 620px
	background-image: url(../assets/images/first-bg.jpg)
	background-attachment fixed

	&__wrapper
		width 100%
		max-width: 970px
		padding 0 25px
		margin 0 auto

	&__inner
		padding 0 1rem
		border: 1px solid $gold
		color #fff
		text-align: center
		h1
			margin 45px auto
			font-size 6.4rem
			line-height 1.17
			text-transform: uppercase
		p
			margin 45px auto
			max-width: 777px
			font-size 1.8rem
			line-height 1.6


//.offer
//.services
//.about
//.map
