.main
	background-color $dark

	&__title
		h2
			font-size 3rem
			line-height 1.2
			text-transform uppercase
			color #fff

			@media small
				font-size 4rem

			&:before
				content ""
				display block
				height 6px
				width 90px
				margin-bottom 15px
				background-color $gold

				@media small
					margin-bottom 40px

	&__description
		padding-bottom 15px
		@media large
			padding-right 20px
			padding-bottom 0
		p
			font-size 1.6rem
			line-height 1.4
			color #fff

.first
	display flex
	align-items center
	height 620px
	background-image url(../assets/images/first-bg.jpg)
	background-repeat no-repeat
	background-size cover
	background-position: center bottom

	&__wrapper
		width 100%
		max-width 970px
		padding 0 25px
		margin 0 auto

	&__inner
		padding 0 1rem
		border 1px solid $gold
		color #fff
		text-align center
		h1
			margin 45px auto
			font-size 4rem
			line-height 1.17
			text-transform: uppercase

			@media small
				font-size 6.4rem
		p
			margin 45px auto
			max-width 777px
			font-size 1.8rem
			line-height 1.6

//.offer

.services
	padding 30px 0
	color #fff

	@media medium
		padding 60px 0

	&__block
		display grid

		@media small
			grid-template repeat(4, 1fr) \/ repeat(2, 1fr)
		@media medium
			grid-template repeat(3, 1fr) \/ repeat(3, 1fr)
		@media large
			grid-template repeat(2, 1fr) \/ repeat(4, 1fr)

	&__item, &__item *
		transition all .4s ease-in-out

	&__item
		padding 35px 17px 17px
		min-height 180px
		text-align center
		border 1px solid $dark
		background-color: $add

		&:hover
			background-color $gold
			.services__icon
				background-color #fff
			.services__icon svg path
				fill $dark

	&__icon
		display flex
		justify-content center
		align-items center
		margin 0 auto
		width 70px
		height 70px
		border-radius 100%

	&__title
		margin-top auto

		p
			font-size 1.8rem
			line-height 1.2
			font-weight 700
			text-transform uppercase



.about
	padding 30px 0

	@media medium
		padding 60px 0

	&__inner
		display flex
		justify-content space-between
		flex-direction column
		align-items center
		position relative
		min-height 482px

		@media large
			flex-direction row


	&__left
		z-index 5

		@media large
			max-width 445px

	&__right
		z-index 5

	&__center

		@media large
			position absolute
			width 410px
			height 100%
			background-color $add
			margin: auto
			left 0
			right 0



	&__grid
		display grid

		@media small
			grid-template repeat(3, 1fr) \/ repeat(2, 1fr)
		@media medium
			grid-template: repeat(2, 1fr) \/ repeat(3, 1fr)


	&__item
		width 200px
		height 160px
		border: 0.25px solid #C8A35F

	&__text-block
		display flex
		align-items center
		justify-content center
		flex-direction column
		height 100%
		background #fff

	&__number
		font-size 64px
		line-height 1.17
		font-weight 700

	&__desc
		margin-bottom 10px
		font-size 18px
		line-height 1.17

	&__small
		font-size 12px
		line-height 1.17

.map
	padding 30px 0 0
	@media medium
		padding 60px 0 0

	&> div
		max-height 450px


